/*
    Copyright (C) 2025  Peter C. Jones <pryrtcode@pryrt.com>

    This file is part of the source code for the CollectionInterface plugin for Notepad++

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#include <winres.h>
#include "resource.h"
#include "Version.h"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ABOUTDLG DIALOGEX 0, 0, 273, 130
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Close", IDOK, 203, 109, 50, 14
    GROUPBOX        "PluginNameHere", IDC_VERSION, 10, 9, 251, 93, BS_CENTER
    LTEXT           "Author: ", IDC_STATIC, 20, 26, 37, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           VERSION_AUTHOR, IDC_STATIC, 60, 26, 200, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Repo: ", IDC_STATIC, 20, 43, 37, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           VERSION_URL, IDC_GITHUB, 60, 43, 200, 8, SS_LEFT | SS_NOTIFY, WS_EX_LEFT
    LTEXT           "Licence: ", IDC_STATIC, 20, 60, 37, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "This code is licensed under GPLv3", IDC_STATIC, 60, 60, 200, 8, SS_LEFT
    LTEXT           "Libraries:", IDC_STATIC, 20, 77, 37, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "nlohmann/json 3.11.3 = Copyright 2025 Niels Lohmann {json.nlohmann.me}", IDC_ABOUT_NLOHMANNJSON, 60, 77, 200, 8, SS_LEFT
    LTEXT           "Hyperlinks = Copyright 2002 Neal Stublen", IDC_STATIC, 60, 87, 200, 8, SS_LEFT
END
