*.sdf
*.sln
*.slnx
*.suo
bin/
bin64/
arm64/
vs.proj/enc_temp_folder/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/HiddenLexers/
vs.proj/HiddenLexers.*
vs.proj/*.opensdf
vs.proj/*.exp
vs.proj/*.lib
vs.proj/*.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
